<!DOCTYPE html>
<html>
  <head>
    <title>Spotify Connectivity</title>
  </head>
  <body>
    <h1>Back story & About this app</h1>
    <p>
      <a href="https://www.spotify.com/in/" target="_blank">Spotify</a> has
      started its services in India. I was trying to enjoy some music. I took
      <a href="https://en.wikipedia.org/wiki/Random_walk" target="_blank"
        >random walks</a
      >
      on Spotify Music Network to find good music. Guess what happened next? I
      did not listen to music, but built this app instead.
    </p>
    <p>
      This app is largely inspired by
      <a
        href="https://en.wikipedia.org/wiki/Six_degrees_of_separation"
        target="_blank"
        >Six degrees of separation</a
      >. Spotify's Web APIs provide enough data to build some cool apps. Ideally
      there should be no bugs because I found there is only one
      <a href="https://en.wikipedia.org/wiki/Connected_component_(graph_theory)"
        >connected component</a
      >
      for this indian artists graph. If there are any bugs inform me
      @srikanth.chekuri92@gmail.com
    </p>
    <p>
      <a href="/findlink">Click here</a> to find link between indian music
      artists.
    </p>
  </body>
</html>
