<!DOCTYPE html>
<html>
  <head>
    <title>Spotify Connectivity</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.css"
    />
  </head>
  <body>
    <h1>Spotify Connectivity</h1>
    <p>
      <a
        href="https://en.wikipedia.org/wiki/Six_degrees_of_separation"
        target="_blank"
        >Six degrees of separation
      </a>
      theory says any two people on the Earth are six are fewer links apart. At
      first glance this may seem bit crazy but this could be true for most of
      the people on earth. Why should this be true? Let's do some Math. Look at
      the complete ternary tree below.
      <br /><br />
      <img src="../static/images/Ternary_Tree.svg" alt="ternary tree" />
    </p>
    <p>
      Here we are just modelling your acquaintances as a graph, at the top of
      the tree node represents you, then next layer represents your direct
      acquaintances, below that is acquaintances of your direct acquaintances ..
    </p>
    <p>
      As you can see from the above picture number of nodes increases
      exponentially with the distance from the first node. Suppose we have a
      tree branching factor <code>b</code> and it's depth is <code>d</code>,
      there are <code>b<sup>d</sup></code>
      nodes. If we safely assume that on average a person has 60 acquaintances,
      by the time we reach the 6 level we will cover the 46,656,000,000 people
      which is nearly 7 times the current population on the globe i.e every two
      people on this planet are six are fewer links apart.
    </p>
    <p>
      Knowing this fascinating theory what I tried is, collect the Indian music
      artists data on Spotify using their
      <a
        href="https://developer.spotify.com/documentation/web-api/"
        target="_blank"
        >Web API</a
      >
      and build the artist graph where two artists are linked by the album they
      worked together. Ran the traversal algorithm on given graph for all
      possible pairs of artists it turned out that <code># links < 6</code>.
    </p>
    <p>
      <a href="/findlink">Click here</a> to find link between indian music
      artists.
    </p>
  </body>
</html>
